.column-header {
    -fx-background-color: #e0e0e0;
}
.column-header .label {
    -fx-text-fill: black;
}
.qty-column.label {
    -fx-background-color: #ffc107;
    -fx-text-fill: black;
}
.column-header-background {
    -fx-background-color: #e0e0e0;
}
.column-header-background.dark-mode {
    -fx-background-color: #4a4a4a;
}
.qty-column .label.dark-mode {
    -fx-background-color: #d4a017;
    -fx-text-fill: black;
}